<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title n:inner-block="setTitle">Administrace{ifset #title} - {include title|striptags|strip}{/ifset}</title>

	<link rel="stylesheet" href="{$_stylesheet}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

</head>
<body>

	<div id="wrapper">
		{* navbar *}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a n:href="Homepage:">Administrace</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img n:if="$navbarOptions->avatar" src="{$navbarOptions->avatar}" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li n:foreach="$navbarOptions->getLinks() as $link">
									<a n:tag-if="$link->link" href="{$presenter->link(...$link->link)}"><i class="lnr lnr-{$link->icon}"></i> <span>{$link->name}</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{* sidebar *}
		{control menu}

		{* content *}
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<h3 n:ifset="#pageTitle" class="page-title">{include pageTitle}</h3>

					{include content}
				</div>
			</div>
		</div>
	</div>

	{block scripts}
		<script src="{$_javascript}"></script>
	{/block}

</body>
